#app > .nav {
    float: left;
    .content {
        padding: 5px;
    }
}
.main > .top {
    background: #eee;
}
.main > div > .left {
    float: left;
    background: #e0e0e0;
    .content {
        padding: 5px;
    }
}

line.link-x {
    cursor: ns-resize;
}
line.link-y {
    cursor: ew-resize;
}
circle.link-pin {
    cursor: crosshair;
}
