.nav {
    background: white;
    .content {
        padding: 5px;
    }
}
.main .sider {
    background: #e0e0e0;
    .content {
        padding: 5px;
    }
}

.ant-tree-list .ant-tree-switcher-icon {
    margin-top: 6px;
}

.y-splitter {
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    cursor: ew-resize;
}

.no-select {
    user-select: none;
}

rect.block-body {
    user-select: none;
}
rect.circuit-bg {
    user-select: none;
}
line.link-x {
    user-select: none;
    cursor: ns-resize;
}
line.link-y {
    user-select: none;
    cursor: ew-resize;
}
circle.block-pin {
    user-select: none;
    cursor: crosshair;
}
circle.link-pin {
    user-select: none;
    cursor: crosshair;
}
circle.mark-cursor,
text.axis-label,
text.plot-legend,
text.mark-label {
    cursor: pointer;
}
path.chart-plot {
    cursor: crosshair;
}
